@model MiBancoService.Domain.Models.ClienteVM

@{
    ViewBag.Title = "Crear Cliente";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<script src="~/Scripts/jquery-1.7.1.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<link href="~/Content/toastr.css" rel="stylesheet" />



<h2>Creacion de clientes</h2>

<div class="MesajeEspera" style="display:none">
    <img src="~/Images/ajax-loader.gif" id="ajaxLoader" />
    <p> Procesando por favor espere.</p>
</div>


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-bar-chart"></i> Registre la información del cliente.
    </div>
    <div class="card-body">

        @using (Ajax.BeginForm("Create", "Cliente",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    LoadingElementId = "ajaxLoader",
                    OnSuccess = "onSucess",
                    OnFailure = "onfaile",
                    UpdateTargetId = "alerta"
                },
                new
                {
                    @id = "Ajaxformcliente",
                    @class = "form-horizontal",
                    role = "form"
                }))
        {
            <div class="row">

                <div class="col-lg-3">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control Mayuscula" })
                    @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "label label-danger" })
                </div>

                <div class="col-lg-3">
                    @Html.LabelFor(model => model.Apellido)
                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control Mayuscula" })
                    @Html.ValidationMessageFor(model => model.Apellido, null, new { @class = "label label-danger" })
                </div>


                <div class="col-lg-3">
                    @Html.LabelFor(model => model.NumeroContacto)
                    @Html.TextBoxFor(model => model.NumeroContacto, new { @class = "form-control Mayuscula" })
                    @Html.ValidationMessageFor(model => model.NumeroContacto, null, new { @class = "label label-danger" })
                </div>

            </div>

            <div class="row">

                <div class="col-lg-3">
                    @Html.LabelFor(model => model.Ocupacion)
                    @Html.TextBoxFor(model => model.Ocupacion, new { @class = "form-control Mayuscula" })
                    @Html.ValidationMessageFor(model => model.Ocupacion, null, new { @class = "label label-danger" })
                </div>

            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <input type="submit" value="Guardar" class="btn btn-outline btn-primary" />
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="card-footer small text-muted"></div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Script{

    <script src="~/Scripts/toastr.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Template2/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Template2/vendor/datatables/dataTables.bootstrap4.js"></script>


    <script type="text/javascript">

        function onSucess(Result) {

            debugger;

            ShowMessage(Result);

            if (Result.Success) {
                document.getElementById("Ajaxformcliente").reset();
            }
        }

        function onfaile(Result) {
            ShowMessage(Result);
        }

    </script>

}


